{% extends "base.html" %}

{% block content %}
  <h2>Details </h2>
  {% if user %}
    <p>First Name: {{object.user.first_name}}</p>
    {# In classBaseView automatically we get 'object' for singleObject #}
    {# For Queryset we get 'object_list' #}
    <p>Last Name: {{object.user.last_name}}</p>
    <p>User Name: {{object.user.username}}</p>
    <p>Email: {{object.user.email}}</p>
    <p>Role: {{object.user.role}}</p>
    <p>Designation: {{object.user.employee.designation}}</p>
    <p>Salary: {{object.user.employee.salary}}</p>
    
    <a class="button is-warning" href="{% url 'update_profile' %}">Edit Profile</a>
  {% endif %}
{% endblock content %}